Make no mistake this is the members index


<h1>Listing socio</h1>
 
<%= link_to 'Novo Socio', new_socio_path %>
<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Morada</th>
  </tr>
 
  <% @socio.each do |socio| %>
    <tr>
      <td><%= socio.nome %></td>
      <td><%= socio.email %></td>
      <td><%= socio.morada %></td>
      <td><%= link_to 'Show', socio_path(socio) %></td>
       <td><%= link_to 'Editar', edit_socio_path(socio) %></td>
         <td><%= link_to 'Apagar', socio_path(socio),
              method: :delete,
              data: { confirm: 'Tem a certeza que quer apagar este socio?' } %></td>
    </tr>
  <% end %>
</table>