<h1>Welcome#index</h1>
<p>Make no mistake this is the index</p>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<h1>Hello, Rails!</h1>
<%= link_to 'Socios', controller: 'socios' %>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
  <li>
  <%= link_to('Signup', new_user_registration_path)  %>  
  </li>
<% end %>